<div class="hero">
  <div class="frosty col-10 offset-1 text-center">
    <h1>Stone Fusion</h1>
    <h2>Bring the customer experience vision alive!</h2>
  </div>
</div>
<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>The CX Experience</h3>
    <br />
    <p>What journey are you taking your clients on, making them influencers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Product Differentiation</h3>
    <br />
    <p>Why should your customers choose you? How do you position yourself.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Journey Mapping</h3>
    <br />
    <p>Understanding the path the customer takes on the product purchase.  Is it positive?</p>
  </div>
</div>



