<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Thank you for your enquiry</h1>
  <h2 class="text-center">Stone Fusion will get back toyou shortly</h2>
  <!--<%= @course.name %>
  <%= @course.phone %>
  <%= @course.email %>
  <%= @course.enquiry %> -->
</div>