<br />
  <h1 class="text-center">Thank you for your enquiry</h1>
  <br />
  <h2 class="text-center">Stone Fusion will get back to you shortly</h2>
  <br />
<div class="booyah-box col-10 offset-1">
  <h2 class="text-center"><%= @contact.name %></h2>
  <h2 class="text-center"><%= @contact.phone %></h2>
  <h2 class="text-center"><%= @contact.email %></h2>
  <h2 class="text-center"><%= @contact.enquiry %></h2> 
  
</div>